body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.card,
.ui.cards > .card {
  background-color: #6495ed;
}

.ui.card,
.ui.cards > .card {
  width: 1000px;
}

.ui.button,
.ui.button > .button {
  width: 200px;
}
